name: Go

on: [pull_request]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.23.4

    - name: Golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: v1.62.2
        args: --print-issued-lines=false --exclude-use-default=false --enable=revive --enable=goimports --enable=unconvert --concurrency=2

    - name: Test
      run: go test -v ./...

    - name: Build
      run: go build -v ./...
